
@import "./default/variables";
@import "./default/null";
@import "./default/mixins";
@import "./default/fonts";
@import "./default/global";

//Подключение общих стилей
@import "./components/header";

// Подлкючение компонентов стилей
@import "./components/text";
@import "./components/btn";
@import "./components/discover";
@import "./components/vericalDecor";
@import "./components/imagesRow";

//Подключение стилей секций страницы
body.single-project {
	@import "./components/singleProject/singleProjectHero";
	@import "./components/singleProject/singleProjectContent";
	@import "./components/singleProject/singleProjectGallery";
	@import "./components/singleProject/singleProjectProportions";
}

body.single-project {
	background-color: #FAFAFA;
	.header {
		@media (max-width: 1024px) {
			transform: translate(0, -4px);
			&__lang,
			&__btn {
				transform: translate(0, 2px);
			}
		}
		@media (max-width: 768px) {
			padding: 0;
			transform: translate(0, -1px);
			
			&__logo {
				transform: translate(5px, 0);
				margin-right: calc(101 / 700 * 100%);
			}
			&__lang {
				transform: translate(0, 1px);
			}
			&__btn {
				transform: translate(0, -1px);
				
			}
		}
		@media (max-width: 568px) {
			&__logo {
				transform: translate(0px, 0);
			}
			&__lang {
				transform: translate(-8px,1.5px);
			}
		}
	}
	.images-row {
		.label2 {
			transform: translate(0, -3px);
			@media (max-width: 568px) {
				transform: translate(0, 2px);
				
			}
		}
		&__content {
			@media (max-width: 568px) {
				padding-right: calc(22 / 375 * 100%);
			}
		}
		.text {
			transform: translate(0, -3px);
			@media (max-width: 568px) {
				transform: translate(0, -1px);
			}
		}
		.vertical-decor {
			@media (min-width: 1025px) {
				display: none;
			}
			top: calc(124 / 623 * 100%);
			left: calc(56 / 1024 * 100%);
			@media (max-width: 768px) {
				top: calc(124 / 571 * 100%);
				left: calc(48 / 768 * 100%);
			}
			@media (max-width: 568px) {
				display: none;
			}
		}
	}
}