<section class="contacts">
	@@include('../other-blocks/_verticalDecor.html', {
	'link': 'contacts.html',
	'text': 'contacts'
	})
	<div class="contacts__bg">
		<picture>
			<source type='image/webp' srcset='@img/background.webp'>
			<img src='@img/background.jpg' alt='background photo'>
		</picture>
	</div>
	<div class="contacts__body">
		<h2 class="contacts__title2 title2">Get in touch</h2>
		<p class="contacts__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu
			mauris vitae posuere. </p>
		<div class="contacts__content">
			<div class="contacts__kyiv">
				<address class="contacts__address">
					<p class="contacts__title4 title4">Kyiv</p>
					<a class="contacts__tel title6" href="tel:">(209) 555-0104</a>
					<p class="contacts__street title6">6391 Elgin St. Celina,</p>
					<p class="contacts__city title6">Delaware 10299</p>
				</address>
			</div>
			<div class="contacts__lviv">
				<address class="contacts__address">
					<p class="contacts__title4 title4">Lviv</p>
					<a class="contacts__tel title6" href="tel:">(209) 555-0104</a>
					<p class="contacts__street title6">6391 Elgin St. Celina,</p>
					<p class="contacts__city title6">Delaware 10299</p>
				</address>
			</div>
			<div class="contacts__kharkiv">
				<address class="contacts__address">
					<p class="contacts__title4 title4">Kharkiv</p>
					<a class="contacts__tel title6" href="tel:">(209) 555-0104</a>
					<p class="contacts__street title6">6391 Elgin St. Celina,</p>
					<p class="contacts__city title6">Delaware 10299</p>
				</address>
			</div>
			<div class="contacts__info">
				<a class="contacts__mail link" href="mailto:info@gmail.com">info@gmail.com</a>
				<div class="contacts__social">
					<a href="#" class="contacts__icon link">Fb</a>
					<a href="#" class="contacts__icon link">In</a>
					<a href="#" class="contacts__icon link">Be</a>
				</div>
			</div>
			@@include('../other-blocks/_btn.html')
		</div>
	</div>
</section>