<div class="@@class">
	<header class="header">
		<div class="header__container">
			<div class="header__body">
				<a href="index.html" class="header__logo">logo</a>
				<div class="header__content">
					<div class="header__burger menu__burger burger link">
						<span></span>
					</div>
					<nav class="header__menu menu">
						<ul class="menu__list">
							<li><a href="projects.html" class="menu__link link">Projects</a></li>
							<li><a href="about.html" class="menu__link link">About us</a></li>
							<li><a href="news.html" class="menu__link link">Blog</a></li>
							<li><a href="contacts.html" class="menu__link link">Contacts</a></li>
						</ul>
					</nav>
					<a href="error.html" class="header__lang link">En</a>
					<button class="header__btn link btn">Send Request</button>
				</div>
			</div>
		</div>
		<div class="headr">
			<div class="headr__bottom">
				<ul class="headr__social">
					<li><a href="#" class="headr__link link">Fb</a></li>
					<li><a href="#" class="headr__link link">In</a></li>
					<li><a href="#" class="headr__link link">Be</a></li>
				</ul>
				<div class="headr__address">
					<p class="headr__option link">Berlin</p>
					<address>
						<a href="tel:+380983527547" class="headr__tel link">+380983527547</a>
						<a href="mailto:info@hi-light.pl" class="headr__mail link">info@hi-light.pl</a>
					</address>
				</div>
			</div>
		</div>
	</header>
</div>