<section class="@@class">
	<div class="images-row">
		<div class="images-row__items">
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/03.webp'>
					<img src='@img/gallery/03.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/04.webp'>
					<img src='@img/gallery/04.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/06.webp'>
					<img src='@img/gallery/06.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/07.webp'>
					<img src='@img/gallery/07.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/08.webp'>
					<img src='@img/gallery/08.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/03.webp'>
					<img src='@img/gallery/03.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/04.webp'>
					<img src='@img/gallery/04.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/06.webp'>
					<img src='@img/gallery/06.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/07.webp'>
					<img src='@img/gallery/07.jpg' alt=''>
				</picture>
			</div>
			<div class="images-row__item">
				<picture>
					<source type='image/webp' srcset='@img/gallery/08.webp'>
					<img src='@img/gallery/08.jpg' alt=''>
				</picture>
			</div>
		</div>
		<div class="images-row__content">
			<h2 class="images-row__label2 label2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
			<div class="images-row__right">
				<p class="images-row__text text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut
					at
					luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.
				</p>
				@@include('../other-blocks/_btn.html')
			</div>
		</div>
		@@include('../other-blocks/_verticalDecor.html', {
		'link' : '#request-btn',
		'text' : 'Make request',
		})
	</div>
</section>