<section class="hero">
	<div class="hero__content">
		<h2 class="hero__title2 title2">
			@@title
		</h2>
		<p class="hero__text text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu
			diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam. Donec et ipsum nec quam posuere
			maximus eu in erat. Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed mattis
			enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor suscipit
			arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu dictum
			convallis. Ut fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet,
			varius imperdiet ex. Nullam blandit lobortis posuere.
		</p>
	</div>
	<div class="hero__social social">
		<h6 class="hero__text500 text500">
			Share:
		</h6>
		<ul class="social__icons-list">
			<li>
				<a class="social__icon" href="#"><img src='@img/icons/social/facebook.svg' alt='facebook icon'></a>
			</li>
			<li>
				<a class="social__icon" href="#"><img src='@img/icons/social/twitter.svg' alt='twittericon'></a>
			</li>
			<li>
				<a class="social__icon" href="#"><img src='@img/icons/social/linkedin_01.svg' alt='linkedIn icon'></a>
			</li>
			<li>
				<a class="social__icon" href="#"><img src='@img/icons/social/linkedin_02.svg' alt='linkedIn icon'></a>
			</li>
		</ul>
	</div>
</section>