<section class="content-ul">
	<div class="content-ul__body">
		<div class="content-ul__content">
			<h4 class="content-ul__title4 title4">Duis laoreet finibus consectetur. </h4>
			<p class="content-ul__text text">Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed
				mattis enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor
				suscipit
				arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu dictum convallis.
				Ut
				fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet, varius imperdiet ex. Nullam
				blandit
				lobortis posuere:</p>
			<ol class="content-ul__list">
				<li class="text">@@li1</li>
				<li class="text">@@li2</li>
				<li class="text">@@li3</li>
				<li class="text">@@li4</li>
			</ol>
			<p class="content-ul__text text">Mauris eget ornare est. Morbi metus justo, posuere vel semper semper, eleifend
				ut
				purus. Morbi cursus consequat nibh, a feugiat felis tempor vitae. Interdum et malesuada fames ac ante ipsum
				primis in faucibus. Nam sodales orci nisl, in lacinia risus rhoncus a. </p>
			<div class="content-ul__social social-ul">
				<h6 class="social-ul__text500 text500">
					Share:
				</h6>
				<ul class="social-ul__icons-list">
					<li>
						<a class="social-ul__icon" href="#"><img src='@img/icons/social/facebook.svg' alt='facebook icon'></a>
					</li>
					<li>
						<a class="social-ul__icon" href="#"><img src='@img/icons/social/twitter.svg' alt='twittericon'></a>
					</li>
					<li>
						<a class="social-ul__icon" href="#"><img src='@img/icons/social/linkedin_01.svg'
								alt='linkedIn icon'></a>
					</li>
					<li>
						<a class="social-ul__icon" href="#"><img src='@img/icons/social/linkedin_02.svg'
								alt='linkedIn icon'></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>