<section class="gallery">
	<h6 class="gallery__items">
		<div class="gallery__item">
			<div class="gallery__image">
				<picture>
					<source type='image/webp' srcset='@img/gallery/@@img1.webp'>
					<img src='@img/gallery/@@img1.jpg' alt=''>
				</picture>
			</div>
		</div>
		<div class="gallery__item">
			<div class="gallery__image">
				<picture>
					<source type='image/webp' srcset='@img/gallery/@@img2.webp'>
					<img src='@img/gallery/@@img2.jpg' alt=''>
				</picture>
			</div>
		</div>
		<div class="gallery__item">
			<div class="gallery__image">
				<picture>
					<source type='image/webp' srcset='@img/gallery/@@img3.webp'>
					<img src='@img/gallery/@@img3.jpg' alt=''>
				</picture>
			</div>
		</div>
	</h6>
</section>