<section class="slider">
	@@include('../other-blocks/_verticalDecor.html', {
	'link' : 'news.html',
	'text' : 'blog',
	})
	<h2 class="slider__title2 title2">Our latest news</h2>
	<div class="swiper">
		<div class="swiper-wrapper">
			<!-- ! 1 -->
			<div class="swiper-slide slider__slide item">
				<div class="item__image">
					<picture>
						<source type="image/webp" srcset="@img/gallery/10.webp" media="(min-width:769px)">
						<source type="image/webp" srcset="@img/gallery/01.webp" media="(min-width:569px)">
						<source type="image/webp" srcset="@img/gallery/10.webp" media="(min-width:100px)">
						<img src='@img/gallery/10.jpg' alt=''>
					</picture>
				</div>
				<h4 class="item__subtitle4 subtitle4">Antrax IT - Italian factory for the production of radiators</h4>
				<h5 class="item__title7 title7">01 January 2019</h5>
			</div>
			<!-- ! 2 -->
			<div class="swiper-slide slider__slide item">
				<div class="item__image">
					<picture>
						<source type='image/webp' srcset='@img/gallery/04.webp'>
						<img src='@img/gallery/04.jpg' alt=''>
					</picture>
				</div>
				<h4 class="item__subtitle4 subtitle4">Antrax IT - Italian factory for the production of radiators</h4>
				<h5 class="item__title7 title7">01 January 2019</h5>
			</div>
			<!-- ! 3 -->
			<div class="swiper-slide slider__slide item">
				<div class="item__image">
					<picture>
						<source type="image/webp" srcset="@img/gallery/01.webp" media="(min-width:769px)">
						<source type="image/webp" srcset="@img/gallery/10.webp" media="(min-width:569px)">
						<source type="image/webp" srcset="@img/gallery/01.webp" media="(min-width:100px)">
						<img src='@img/gallery/01.jpg' alt=''>
					</picture>
				</div>
				<h4 class="item__subtitle4 subtitle4">Antrax IT - Italian factory for the production of radiators</h4>
				<h5 class="item__title7 title7">01 January 2019</h5>
			</div>
			<!-- ! 4 -->
			<div class="swiper-slide slider__slide item">
				<div class="item__image">
					<picture>
						<source type='image/webp' srcset='@img/gallery/05.webp'>
						<img src='@img/gallery/05.jpg' alt=''>
					</picture>
				</div>
				<h4 class="item__subtitle4 subtitle4">Antrax IT - Italian factory for the production of radiators</h4>
				<h5 class="item__title7 title7">01 January 2019</h5>
			</div>
		</div>
	</div>
</section>