.footer {
	background-color: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: rgb(130, 130, 130);
		font-weight: 300;
		padding: 25px 0 23px;
		@media (max-width: 568px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__copy {
		@include fl(12, 18.29 );
		position: relative; 
		@media (max-width: 568px) {
			margin-bottom: 9px;
		}
	}
	&__made {
		display: flex;
		align-items: center;
	}

	&__text {
		@include fl(12, 18.29 );
		margin-right: 32px;
		@media (max-width: 768px) {
			transform: translate(0, -2px);
		}
		@media (max-width: 568px) {
			transform: translate(4px, 1px);
		}
	}

	&__svg {
		transform: translate(-2px, 0);
		@media (max-width: 768px) {
			transform: translate(-3px, -2px);
		}
		@media (max-width: 568px) {
			transform: translate(0px, 2px);
		}
	}
}
