.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

	&__body {
		display: flex;
		justify-content: space-between;
		padding: 24px 0;
		align-items: center;
		position: relative;
		@media (max-width: 1024px) {
			padding: 27px 0;
		}
		@media (max-width: 568px) {
			padding: 22px 0;
		}
	}
	&__logo {
		text-transform: uppercase;
		@include fl(14, 17.07);
		letter-spacing: calc(14*.3px);
		transition:all 0.3s ease;
		margin-right: 10.7%;
		transform: translate(-1px, 1px);
		&:hover {
			transform: scale(1.1);
		}
		@media (max-width: 1024px) {
			transform: translate(-2px, 0px);
		}
		@media (max-width: 768px) {
			transform: translate(-1px, -1px);
			// margin-right: ;
			margin-right: 14.4%;
		}
		@media (max-width: 568px) {
			margin: 0;
			transform: translate(-1px, 0 );
			
		}
	}
	&__content {
		flex: 1 1 auto;
		
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__lang {
		margin-right: 7.5%;
		transition:all 0.3s ease;
		&:hover {
			color: rgb(200, 200, 200)
		}
		@media (max-width: 768px) {
			margin-right: 10.8%;
			transform: translate(0, 2px);
		}
		@media (max-width: 568px) {
			order: 1;
			transform: translate(0, 1px);
			margin-right: 20%;
		}
	}
	&__btn {
		// margin-left: 40.5%;
		background-color: transparent;
		border: 1px solid rgba(253, 253, 253, 0.32);
		transition:all 0.3s ease;
		&:hover {
			color: rgb(200, 200, 200)
		}
		&:active {
			background-color: rgba(255, 255, 255, 0.15);
		}
		@media (max-width: 1024px) {
			width: 158px;
			height: 42px;
			transform: translate(0px, -1px);
		}
		@media (max-width: 568px) {
			display: none;
		}
	}
}

.menu {
	margin-right: auto;
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 3em;
		flex-wrap: wrap;
		a {
			padding: 7px 0;
			transition:all 0.3s ease;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				width: 0;
				height: 1px;
				transform: translate(-50%, -3px);
				background: rgb(200, 200, 200);
				transition:all 0.3s ease;
			}
			&:hover {
				color: rgb(200, 200, 200);
				&:after{
					width: 100%;
				}
			}
		}
	}
}
.burger {
	transform: translate(-3px, -2px);
	display: none;
	width: 28px;
	height: 8px;
	position: relative; 
	cursor: pointer;
	@media (max-width: 568px) {
		order: 2;
		margin: 0;
		transform: translate(0px, 0px);
	}
	transition:all 0.3s ease;
	&:hover {
		&:after {
			color: $hoverColor1;
		}
		&:before,
		span {
			background-color: $hoverColor1;
		}
	}
	span,
	&:before {
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #fff;
		transition: all .5s ease;
	}
	&:before {
		content: '';
		top: 0;
		animation: burger01 .7s ease .0s 1;
		animation-fill-mode: forwards;
	}
	&:after {
		content: 'Menu';
		display: inline-block;
		padding-left: 53px;
		transform: translate(0, -3px);
		transition:all 0.3s ease;
		@media (max-width: 768px) {
			padding-left: 49px;
			transform: translate(0, -2px);
		}
		@media (max-width: 568px) {
			display: none;
		}
	}
	span {
		position: absolute;
		left: 0;
		width: 28px;
		height: 1px;
		background-color: #fff;
		top: 100%;
		transform: translate(0, -50%);
		animation: burger02 .7s ease .0s 1;
		animation-fill-mode: forwards;
	}
	@keyframes burger01 {
		0% {
			transform: translate(0, -50%) rotate(-45deg);
			top: 50%;
		}
		50%{
			transform: translate(0, -50%);
			top: 50%;
			
		}
		100% {
			top: 0;
			transform: translate(0, 0);
		}
	}
	@keyframes burger02 {
		0% {
			transform: translate(0, -50%) rotate(45deg);
			top: 50%;
		}
		50% {
			
			transform: translate(0, -50%);
			top: 50%;
		}
		100% {
			top: 100%;
			transform: translate(0, -50%);
		}
	}
}
@media (max-width: 1024px) {
	.menu {
		pointer-events: none;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100vw;
		height: 100vh;
		padding: 0;
		transition: all .7s ease;
		display: flex;
		// justify-content: center;
		align-items: center;
		background-color: rgba(8, 8, 8, 0.98);
		@media (max-width: 568px) {
			// left: 100%;
			// top: calc(61px + 16px);
			top: 0px;
			text-align: center;
		}
	}
	.menu__list {
		color: #fff;
		justify-content: flex-start;
		flex-direction: column;
		position: relative;
		left: calc(211 / 1024 * 100%);
		a {
			padding: 5px 0;
			@include fl(32, 39.01);
			font-weight: 700;
			color: #fff;
			
		}
		@media (max-width: 568px) {
			gap: 1em;
		}
	}
	.burger {
		margin-right: auto;
		display: block;
	}
}
.burger.active {
	
	&:before {
		animation: burger1 .7s ease .0s 1;
		animation-fill-mode: forwards;
	}
	span{
		animation: burger2 .7s ease .0s 1;
		animation-fill-mode: forwards;
	}
	@keyframes burger1 {
		0% {
			top: 0;
		}
		50%{
			transform: translate(0, -50%);
			top: 50%;

		}
		100% {
			transform: translate(0, -50%) rotate(-45deg);
			top: 50%;
		}
	}
	@keyframes burger2 {
		0% {
			top: 100%;
			transform: translate(0, -50%);
		}
		50% {
			
			transform: translate(0, -50%);
			top: 50%;
		}
		100% {
			transform: translate(0, -50%) rotate(45deg);
			top: 50%;
		}
	}
}
.menu.active {
	pointer-events: all;
	left: 0;
	transition: all .8s ease;
	@media (max-width: 568px) {
		// top: calc(61px + 16px);
		top: 60px;
	}
	.menu__list {
		gap: 34px;
		transform: translate(0, -10px);
	}
}



.header-light {
	.header {
			color: #fff;
			&__lang {
			&:hover {
				color: rgb(200, 200, 200)
			}
		}
		&__btn {
			border: 1px solid rgba(253, 253, 253, 0.32);
			&:hover {
				color: rgb(200, 200, 200)
			}
			&:active {
				background-color: rgba(255, 255, 255, 0.15);
			}
		}
	}
	.menu {
		&__list {
			a {
				&:after{
					background: rgb(200, 200, 200);
				}
				&:hover {
					color: rgb(200, 200, 200);
				}
			}
		}
	}
	.burger {
		&:hover {
			&:after {
				color: $hoverColor1;
			}
			&:before,
			span {
				background-color: $hoverColor1;
			}
		}
		span,
		&:before {
			background-color: #fff;
		}
		span {
			background-color: #fff;
		}
	}
}
.header-dark {
	.header{
		color: $textColor1;
		&__lang {
			&:hover {
				color: $textColor2;
			}
		}
		&__btn {
			border: 1px solid rgba(0, 0, 0, 0.32);
			&:hover {
				color: $textColor2;
			}
			&:active {
				background-color: rgba(0, 0, 0, 0.32);
				color: $textColor1;
			}
		}
	}
	.menu {
		&__list {
			a {
				&:after{
					background-color: rgb(0, 0, 0);
					background-color: $textColor1;
				}
				&:hover {
					color: $textColor2;
				}
			}
		}
	}
	.burger {
		span,
		&:before {
			background-color: $textColor1;
		}
		span {
			background-color: $textColor1;
		}
		&:hover {
			&:after {
				color: $textColor2;
			}
			&:before,
			span {
				background-color: $textColor2;
			}
		}
	}
	@media (max-width: 1024px) {
		.menu__list {
			color: $textColor1;;
		}
	}
}











.header.active {
	z-index: 49;
	// z-index: 1;
	.header__container {
		padding-top: 6px;
		@media (max-width: 768px) {
			padding-top: 0;
		}
	}
	
	.header__logo {
		color: #fff;
		z-index: 1;
	}
	.header__lang {
		color: #fff;
		z-index: 1;
	}
	.header__btn {
		background: transparent;
		color: #fff;
		border-color: #fff;
		z-index: 1;
	}
	.burger {
		color: #fff;
		z-index: 3;
		&:after {
			display: none;
		}
		@media (max-width: 768px) {
			transform: translate(-18px, -1px);
		}
		@media (max-width: 568px) {
			transform: translate(0, 0);
			
		}
	}
	.menu {
		z-index: 0;
		@media (max-width: 568px) {
			top: 0;
		}
	}
	.menu__list {
		@media (max-width: 768px) {
			left:calc(188 / 768 * 100%);
			top: 19px;
		}
		@media (max-width: 568px) {
			text-align: center;
			transform: translate(32px, -64px);
			gap: 28px;
			a {
				@include fl(26, 31.69 );
				
			}
		}
	}
	.headr {
		z-index: 2;
		opacity: 1;
		// pointer-events: all;
	}
}
.headr {
	position: fixed;
	height: 100vh;
	// height: 200px;
	width: 100vw;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	pointer-events: none;
	color: #fff;
	&__bottom {
		color: #fff;
		z-index: 10;
		position: absolute;
		bottom: 41px;
		left: 50%;
		transform: translate(-50%,0 );
		width: 100%;
		display: flex;
		align-items: flex-end;
		max-width: 1362px;
		margin: 0 auto;
		padding: 0 24px;
		
		@media (max-width: 1024px) {
			bottom: 41px;
			max-width: 960px;;
		}
		@media (max-width: 768px) {
			max-width: 720px;
			bottom: 32px;
		}
		@media (max-width: 568px) {
			max-width: none;
			bottom: 21px;
		}
	}
	&__social {
		color: #fff;
		position: relative;
		
		margin-right: calc(117 / 1362 * 100%);
		display: flex;
		align-items: center;
		transform: translate(-4px, -3px);
		pointer-events: all;
		@media (max-width: 1024px) {
			margin-right: calc(79 / 1024 *100%);
		}
		@media (max-width: 610px) {
			display: none; 
		}
		li {
			color: #fff;
			transition:all 0.3s ease;
			&:hover {
				transform: scale(1.2);
			}
		}
		li:not(:last-child) {
			margin-right: 6px;
			@media (max-width: 1024px) {
				margin-right: 5px;
			}
		}
		a {
			color: #fff;
			padding: 5px;
			transition:all 0.3s ease;
			&:hover {
				color: $hoverColor1;
			}
		}
	}

	&__address {
		color: #fff;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		@media (max-width: 1024px) {
			transform: translate(0, 2px);
		}
	}

	&__option {
		color: #fff;
		cursor: pointer;
		pointer-events: all;
		// margin-right: calc(72 / 1362 * 100%);
		margin-right: 7.286344%;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 7px 51px 6px 28px;
		border-radius: 8.71px;
		position: relative;
		line-height: 1;
		box-shadow: 0px 1.15px 1.23px rgba(0, 0, 0, 0.2);
		transition:all 0.3s ease;
		@media (max-width: 1024px) {
			border-radius: 88px;
			background-color: transparent;
			border: 1px solid rgba(196, 196, 196, 1);
			margin-right: 38px;
		}
		@media (max-width: 768px) {
			margin-right: 31px;
		}
		@media (max-width: 568px) {
			margin-right: 109px;
		}
		&:hover {
			transform: scale(1.2);
		}
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 13.38px;
			width: 7.24px;
			height: 10px;
			transform: translate(0, -50%);
			background: url('@img/icons/location.svg') 0 0/cover no-repeat;
		}
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: calc(100% - 13px);
			width: 3.7px;
			height: 7px;
			transform: translate(0, -35%) rotate(90deg);
			background: url('@img/icons/arrow.svg') 0 0/cover no-repeat;
			@media (max-width: 1024px) {
				transform: translate(-7px, -35%) rotate(90deg);
			}
		}
	}
	address {
		color: #fff;
		@media (max-width: 568px) {
			display: flex;
			flex-direction: column;
		}
	}
	&__tel {
		color: #fff;
		pointer-events: all;
		transition:all 0.3s ease;
		margin-right: 26px;
		@media (max-width: 1024px) {
			margin-right: 35px;
		}
		@media (max-width: 768px) {
			margin-right: 28px;
		}
		@media (max-width: 568px) {
			margin-right: 0;
			margin-bottom: 7px;
		}
		&:hover {
			color: $hoverColor1;
		}
	}

	&__mail {
		color: #fff;
		pointer-events: all;
		transition:all 0.3s ease;
		@media (max-width: 568px) {
			transform: translate(-3px, -2px);
			
		}
		&:hover {
			color: $hoverColor1;
		}
	}
}