.submenu {
	display: flex;
	align-items: center;
	li {
		&:not(:last-child) {
			margin-right: 32px;
			@media (max-width: 1024px) {
				margin-right: 26px;
			}
			@media (max-width: 768px) {
				margin-right: 28px;
			}
		}
	}
	&__link {
		color: #828282;
		transition:all 0.3s ease;
		position: relative;
		display: inline-block;
		padding: 5px 0;
		&:hover {
			opacity: 1;
			color: #080808;
			&:after{
				width: 100%;
			}
		}
		&:after{
			transition:all 0.3s ease;
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			width: 0;
			height: 1px;
			transform: translate(-50%, -50%);
			opacity: 1;
			background-color: #080808; 
		}
	}
}
