//! Добавить в шаблон
$wrp1: 1440px; // a nado?
$wrp2: 1024px;
$wrp3: 768px;
$wrp5: 377px;
$cnt1 : 1362px;
$cnt2 : 960px;
$cnt3 : 720px;
// Удобно использовать при calc() для задания относительных отступов и т.д.


/*Шрифты*/
$ff1: 'Montserrat', sans-serif;

//Цвета шрифтов
$textColor1: #080808;
$textColor2:#828282;
$hoverColor1: rgb(200, 200, 200);
$hoverColor2: $textColor2;