body.about {
	padding-top: 96px;
	background-color: #FAFAFA;
	.header {
		@media (max-width: 1024px) {
			padding-top: 6px;
			&__burger {
				&:after {
					display: none;
				}
			}
			&__btn {
				border-color:rgba(0,0,0,1);
			}
		}
		@media (max-width: 768px) {
			padding: 0;
			transform: translate(0, -1px);
			
			&__logo {
				transform: translate(5px, 0);
				margin-right: calc(86 / 700 * 100%);
			}
			&__lang {
				transform: translate(0, -1px);
				
			}
		}
		@media (max-width: 568px) {
			&__logo {
				transform: translate(0px, 0);
			}
			&__lang {
				transform: translate(-8px,1.5px);
			}
		}
	}
}
//======================================================================================
// Hero
//======================================================================================
.hero {
	padding-top: calc(230 / 1440 * 100%);
	padding-bottom: calc(222 / 1440 * 100%);
	background: url('@img/gallery/01.webp') 0 50%/cover no-repeat;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.24);
	}
	&__body {
		max-width: 383px;
		margin: 0 auto;
		text-align: center;
		color: #fff;
		position: relative;
		z-index: 1;
		@media (max-width: 568px) {
			padding: 0 15px;
		}
	}
	&__title2 {
		margin-bottom: 13px;
	}
}
//======================================================================================
// Philosophy
//======================================================================================
.philosophy {

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: calc(132 / (1440 - 263) * 100%);
		padding-left: calc(263 / 1440 * 100%);
		padding-top: calc(140 / 1440 * 100%);
		padding-bottom: calc(140 / 1440 * 100%);
		@media (max-width: 1024px) {
			padding-left: calc(80 / 1024 * 100%);
		}
		@media (max-width: 768px) {
			flex-direction: column;
			padding-left: 0;
		}
	}

	&__left {
		flex: 0 0 calc(383 / (1440 - 263) * 100%);
		// flex: 0 0 383px;
		// padding-top: 38px;
		@media (max-width: 768px) {
			padding-left: calc(30 / 1024 * 100%);
			padding-right: calc(30 / 1024 * 100%);
			max-width: 500px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__title2 {
		margin-bottom: 14px;
	}

	&__text {
		margin-bottom: 22px;
		opacity: 1;
	}
	&__buttons {
		display: flex;
		align-items: center;
		pointer-events: all;
		transform: translate(-10px, 10px);
		@media (max-width: 768px) {
			margin-bottom: 50px;
		}
		path {
			stroke: $textColor1;
		}
		svg {
			padding: 10px;
			cursor: pointer;
			transition:all 0.3s ease;
			&:hover {
				transform: scale(2);
			}
		}
		svg:first-child {
			transform: rotate(180deg);
			&:hover {
			transform: scale(2) rotate(180deg);
			}
		}
		svg:last-child {
			margin-left: 4px;
		}
		span {
			height: 1px;
			background-color: #828282;
		}
		span:first-of-type {
			width: 88.5px;
			margin-left: 12px;
			@media (max-width: 1024px) {
				width: 71.54px;
			}
			@media (max-width: 568px) {
				width: 37.22px;
			}
		}
		span:last-of-type {
			width: 138.5px;
			margin-right: 12px;
			opacity: .32;
			@media (max-width: 1024px) {
				width: 76.46px;
			}
			@media (max-width: 568px) {
				width: 50.78px;
			}
		}
	}
	&__title6 {
		line-height: 1;
	}

	&__slider {
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}
// Slider
.slider {
	&__slide {
		&:nth-child(2) {
			.slider__image {
				img {
					// object-fit: fill; // Появится большой отступ между слайдами из-за сдвига влево. можно сделать бекграундом до пиксель пёрфекта, но лень.
					object-position:-10px 50%;
					@media (max-width: 1400px) {
						object-position: center;
					}
				}
			}
		}
	}

	&__image {
		position:relative;
		// width: 552px;
		min-width: 250px;
		width: calc(100% + 3px);
		height: 444px;
		@media (max-width: 1024px) {
			height: 400px;
		}
		@media (max-width: 768px) {
			height: 350px;
		}
		@media (max-width: 568px) {
			height: 300px;
		}
		img {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
}
//======================================================================================
// Statisctics
//======================================================================================
.statisctics {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: calc(130 / 1440 * 100%);
	padding-right: calc(130 / 1440 * 100%);
	@media (max-width: 768px) {
		flex-direction: column-reverse;
		
	}
	&__image {
		padding-bottom: calc(607 / 1180 * 100%);
		width: calc(516 / 1180 * 100%);
		margin-right: calc(132 / 1180 * 100%);
		position:relative;
		@media (max-width: 1024px) {
			padding-bottom: 70%;
		}
		@media (max-width: 768px) {
			padding-bottom: 50%;
			width: 100%;
			margin-right: 0;
		}
		@media (max-width: 568px) {
			padding-bottom: 80%;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: linear-gradient(10deg, rgba(0, 0, 0, 0.48) 0%,rgba(0, 0, 0, 0) 45.39%) 0 0/ cover no-repeat;
		}
		img {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:calc(50% - 25px) 50%;
			@media (max-width: 768px) {
				object-position: center;
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 100px 132px;
		grid-auto-flow: row;
		column-gap: 79px;
		row-gap: 42px;
		margin-bottom: 58px;
		@media (max-width: 768px) {
			grid-template-columns: repeat(4, auto);
			margin-bottom: 30px;
			column-gap: 35px;
		}
		@media (max-width: 568px) {
			grid-template-columns: 100px 132px;
		}
	}

	&__title1 {
		margin-bottom: 5px;
	}

	&__subtext {
		@include fl(14, 18.48);
		max-width: 100px;
		
	}

	&__text {
		max-width: 382px;
		transform: translate(0px, 9px);
		opacity: 1;
		@media (max-width: 768px) {
			max-width: 80%;
			margin-bottom: 30px;
		}
		@media (max-width: 568px) {
			max-width: none;
		}
	}
	&__abs {
		position:absolute;
		right: 0;
		top: 431px;
		width: 168px;
		height: 216px;
		@media (max-width: 1200px) {
			display: none;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top right, rgba(0, 0, 0, 0.24) 0%,rgba(0, 0, 0, 0) 86.71%)
		}
		img {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
}
//======================================================================================
// Resume
//======================================================================================
.resume {
	display: flex;
	justify-content: space-between;
	padding-top: calc(180 / 1440 * 100%);
	padding-bottom: calc(100 / 1440 * 100%);
	padding-left: calc(263 / 1440 * 100%);
	padding-right: calc(146 / 1440 * 100%);
	column-gap: 40px;
	@media (max-width: 1024px) {
		padding-left: calc(100 / 1024 * 100%);
		padding-right: 0;
	}
	@media (max-width: 625px) {
		flex-direction: column-reverse;
		padding-left: calc(130 / 1440 * 100%);
		padding-right: calc(130 / 1440 * 100%);
	}
	&__left {
		padding-top: 66px;
		// max-width: 383px;
		flex: 0 1 383px;
		@media (max-width: 625px) {
			padding-top: 30px;
			flex: 1 1 auto;
			margin-bottom: 40px;
		}
	}

	&__title2 {
		margin-bottom: 22px;
		@media (max-width: 625px) {
			margin-bottom: 10px;
		}
	}

	&__title4 {
		margin-bottom: 49px;
		max-width: 167px;
		@media (max-width: 625px) {
			margin-bottom: 22px;
		}
	}

	&__subtext {
		position: relative;
		opacity: 1;
		&:after{
			content: '“';
			position: absolute;
			top: 4px;
			left: -50px;
			width: 18px;
			height: 44px;
			opacity: 1;
			font-size: 36px;
			line-height: 43.88px;
			font-weight: 700;
			color: #080808;
			@media (max-width: 625px) {
				left: -30px;
				top: 0;
			}
		}
	}

	&__image {
		flex: 0 1 516px;
		padding-bottom: calc(607.589 / (516 * 2) * 100%);
		position:relative;
		@media (max-width: 768px) {
			flex: 0 0 300px;
		}
		@media (max-width: 625px) {
			padding-bottom: 120%;
			flex: 1 1 110%;
		}
		img {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			@media (max-width: 625px) {
				object-position: top center;
			}
		}
	}
}
//======================================================================================
// Details
//======================================================================================
.details {
	display: flex;
	padding-left: calc(198 / 1440 * 100%);
	padding-right: calc(146 / 1440 * 100%);
	padding-bottom: 5%;
	column-gap: calc(265 / (1440 - 198 - 146) * 100%);
	@media (max-width: 1250px) {
		column-gap: 100px;
	}
	@media (max-width: 1024px) {
		padding-bottom: calc(140 / 1440 * 100%);
		column-gap: 64px;
		padding-left: 0;
	}
	@media (max-width: 768px) {
		padding-left: calc(100 / 1024 * 100%);
	}
	@media (max-width: 625px) {
		padding-left: calc(130 / 1440 * 100%);
		padding-right: calc(130 / 1440 * 100%);
	}
	&__image {
		flex: 0 0 315px;
		padding-bottom: calc(380 / (1440 - 198 - 146) * 100%);
		position:relative;
		transform: translate(0, -46%);
		@media (max-width: 1250px) {
			transform: translate(0, 0);
		}
		@media (max-width: 768px) {
			display: none;
		}
		img {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 81px 94px 81px;
		column-gap: 79px;
		margin-bottom: 53px;
		@media (max-width: 1024px) {
			column-gap: 50px;
		}
		@media (max-width: 625px) {
			grid-template-columns: 1fr 1fr;
			margin-bottom: 35px;
			row-gap: 20px;
		}
	}

	&__num {
		margin-bottom: 5px;
	}

	&__subtext {
		@include fl(14, 18.48);
		
	}

	&__text {
		max-width: 516px;
		opacity: 1;
	}
}
//======================================================================================
// Images-absolute
//======================================================================================
body.about{ 
	.images-absolute {
		background-color: $textColor1;
		&__image {
			box-shadow: 0 0 64px rgba(183, 183, 183, 0.16);
		}
		&__title1 {
			transform: translate(-18px, 0);
			color: #fff;
		}
		&__text {
			color: #fff;
			opacity: 0.6;
		}
	}
}
//======================================================================================
// Team
//======================================================================================
.team {
	background-color: #ECECEC;
	padding-top: calc(136 / 1440 * 100%);
	padding-bottom: calc(183 / 1440 * 100%);
	padding-left: calc(198 / 1440 * 100%);
	padding-right: calc(213 / 1440 * 100%);
	@media (max-width: 768px) {
		padding-bottom: calc(120 / 768 * 100%);
	}
	@media (max-width: 568px) {
		padding-bottom: calc(150 / 568 * 100%);
	}
	@media (max-width: 400px) {
		padding-bottom: calc(180 / 568 * 100%);
	}
	&__label2 {
		max-width: 424px;
		margin-bottom: 124px;
		@media (max-width: 1024px) {
			margin-bottom: 50px;
			max-width: 394px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: 50px;
		@media (max-width: 1024px) {
			display: block;
		}
	}

	&__form {
		flex: 0 1 382px;
		display: flex;
		position: relative;
		align-items: center;
		@media (max-width: 1024px) {
			max-width: 394px;
			margin-bottom: 50px;
		}
		input {
			color: $textColor1;
			width: 100%;
			background-color: transparent;
			@include fl(20, 34.12);
			// opacity: .7;
			&::placeholder {
				color: $textColor1;
				opacity: .7;
			}
			@media (max-width: 1024px) {
				@include fl(16, 27.2);
			}
			&:focus {
				// border: none;
				outline: none;
				color: $textColor1;
			}
		}

		&:after{
			content: '';
			position: absolute;
			top: 100%;
			top: calc(100% + 4px);
			left: 0;
			width: 100%;
			height: 1px;
			transform: translate(0, 0);
			background: #515151;
		}
	}

	&__arrow {
		transform: rotate(180deg);
		width: 24px;
		height: 12px;
	}

	&__right {
		max-width: 366px;
		@media (max-width: 1024px) {
			max-width: 394px;
		}
	}

	&__text {
		margin-bottom: 21px;
		opacity: 1;
		color: $textColor1;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__social {
		transform: translate(-11px, -1px);
		
		display: flex;
		li {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}
//======================================================================================
// Footer
//======================================================================================
body.about {
	.footer {
		path {
			fill: $textColor1;
		}
	}
}