body.news {
	background-color: #fff;
}
.hero {
	padding-top: calc(208 / 1440 * 100%);
	padding-bottom: calc(124 / 1440 * 100%); 
	padding-left: calc(197 / 1440 * 100%); 
	padding-right: calc(197 / 1440 * 100%); 
		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__title2 {
		}
}
.title2 {
}
