body.projects {
	background-color: #FAFAFA;
	.header {
		@media (max-width: 1024px) {
			padding-top: 6px;
			&__burger {
				&:after {
					display: none;
				}
			}
			&__btn {
				border-color:rgba(0,0,0,1);
			}
		}
		@media (max-width: 768px) {
			padding: 0;
			transform: translate(0, -1px);
			
			&__logo {
				transform: translate(5px, 0);
				margin-right: calc(86 / 700 * 100%);
			}
			&__lang {
				transform: translate(0, -1px);
				
			}
		}
		@media (max-width: 568px) {
			&__logo {
				transform: translate(0px, 0);
			}
			&__lang {
				transform: translate(-8px,1.5px);
			}
		}
	}
}
//======================================================================================
// Hero
//======================================================================================
.hero {

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: calc(208 / 1440 * 100%);
		padding-bottom: calc(124 / 1440 * 100%); 
		padding-left: calc(197 / 1440 * 100%); 
		padding-right: calc(197 / 1440 * 100%);
	@media (max-width: 1024px) {
		padding-top: calc(162 / 1024 * 100%);
		padding-bottom: calc(107 / 1024 * 100%); 
		padding-left: calc(159 / 1024 * 100%); 
		padding-right: calc(159 / 1024 * 100%);
		flex-direction: column;
		
	}
	@media (max-width: 768px) {
		padding-top: calc(138 / 768 * 100%);
		padding-bottom: calc(98 / 768 * 100%); 
		padding-left: calc(124 / 768 * 100%); 
		padding-right: calc(124 / 768 * 100%);
	}
	@media (max-width: 568px) {
		padding-top: calc(116 / 375 * 100%);
		padding-bottom: calc(63 / 375 * 100%); 
		padding-left: calc(24 / 375 * 100%); 
		padding-right: calc(24 / 375 * 100%);
	}
	}

	&__title2 {
		@media (max-width: 1024px) {
			margin-bottom: 14px;
		}
	}

	&__right {
		max-width: 449px;
		transform: translate(-2px, -3px);
		@media (max-width: 1024px) {
			transform: translate(0, 0);
		}
		@media (max-width: 568px) {
			min-width: 328px;
		}
	}

	&__text {
		margin-bottom: 32px;
		color: $textColor1;
		opacity: 1;
		@media (max-width: 1024px) {
			margin-bottom: 30px;
		}
		@media (max-width: 568px) {
			margin-bottom: 28px;
		}
	}
	
	.submenu {
		.link {
			letter-spacing: normal;
		}
		li {
			&:not(:last-child) {
				@media (max-width: 1024px) {
					margin-right: 34px;
				}
			}
		}
		@media (max-width: 568px) {
			display: none;
		}
	}
}
.option-hero {
	display: none;
	@media (max-width: 568px) {
		display: block;
		max-width: 128px;
	}
	padding-left: 13px;
	border: 1px solid #C4C4C4;
	padding: 7px 13px 7px 13px;
	position: relative;
	border-radius: 15px;
	transition: all .5s ease;
	height: 30px;

	&__line {
		display: flex;
		justify-content: space-between;
		// align-items: center;
	}
	&__title {
		transition: all .5s ease;
		margin-right: 20px;
	}

	&__arrow {
		stroke: #000;
		transform: translate(0, 3px) rotate(90deg);
		transition: all .5s ease;
		
	}

	&__list {
		transition: height .5s ease;
		pointer-events: none;
		overflow: hidden;
		height: 0px;
		li {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
	&.active {
		.option-hero__title {
			margin-bottom: 10px;
		}
		.option-hero__arrow {
			transform: translate(0, 3px) rotate(270deg);
		}
		.option-hero__list {
			pointer-events: all;
		}
	}
}
//======================================================================================
// Gallery
//======================================================================================