.hero {

	&__container{
		max-width: 1046px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		flex: 0 1 709px;
	}

	&__title2 {
		max-width: 474px;
		margin-bottom: 32px;
	}


	&__social {
		flex: 0 0 auto;
	}

	&__text500 {
		margin-bottom: 10px;
	}
}
.social {

	&__icons-list {
		display: flex;
		li:not(:last-child) {
			margin-right: 8px;
		}
	}
		img {
			transition:all 0.3s ease;
			&:hover {
				transform: scale(1.2);
			}
		}
}
